<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天津工业大学新闻网</title>
<style type="text/css">
.code{ height:auto; padding:20px; border:1px solid #9EC9FE; background:#ECF3FD;}
.code{ height:auto; padding:20px; border:1px solid #9EC9FE; background:#ECF3FD;}
.code pre{ font-family:"Courier New";font-size:14px;}
.info{ font-size:12px; color:#666666; font-family:Verdana; margin:20px 0 50px 0;}
.info p{ margin:0; padding:0; line-height:22px; text-indent:40px;}
h2.title{ margin:0; padding:0; margin-top:50px; font-size:18px; font-family:"微软雅黑",Verdana;}
h3.title{ font-size:16px; font-family:"微软雅黑",Verdana;}
.importInfo{ font-family:Verdana; font-size:14px;}
 body {background:#FAEBD7;}
#xw td ul{
	text-align:center;
}

#xw td ul li{
  text-align:center;
	width:1px;
	margin:0 5px;
	white-space:nowrap;
	word-break:keep;
	height:20px;
	line-height:20px;
	font-size:12px;
	font-family:"宋体";}
</style>
</head>
<body>
<div style="position:absolute;left:150px;top:-10px;">
 <ul style="list-style:none; display:block;">
  <li class="left" style=" float:left;">
<script language='javaScript'>
today = new Date();
function initArray() {
 this.length = initArray.arguments.length
 for ( var i = 0; i < this.length; i++)
  this[i + 1] = initArray.arguments[i]
}
var d = new initArray('星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六');
var year = (today.getYear() > 1000) ? today.getYear() : today.getYear() + 1900;
document.write(year, '年', today.getMonth() + 1, '月', today.getDate(), '日 ',
  d[today.getDay() + 1]);
</script>
    </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  </li>
  <li class="left" style=" float:left;">
   <a href="/xw" style="text-decoration:none;">首页</a> |
   <a href="/publish/newsen/index.html" style="text-decoration:none;">English</a> |
   <a target="_blank" href="http://weibo.com/tsinghua100" style="text-decoration:none;">工大微博</a> |
<a style="cursor: pointer;" onmouseover="m.style.visibility='visible';m.style.top=event.clientY;m.style.left=event.clientX;" onmousemove="m.style.top=event.clientY;m.style.left=event.clientX;"  onmouseout="m.style.visibility='hidden'">工大微信</a> |
   <a href="/publish/news/mobile/index.html" style="text-decoration:none;">手机版</a> |
   <a href="/publish/news/rss/index.html" style="text-decoration:none;">RSS聚合</a> |
   <a href="/" target="_blank" style="text-decoration:none;">工大主页</a><br/><br/><br/>
  </li>
 </ul>
</div>
<img src="/static/xinwen.jpg" style="position:absolute;left:180px;top:30px;"/>
<a href="#" style="position:absolute;left:180px;top:150px;text-decoration:none";>&nbsp&nbsp &nbsp&nbsp头条新闻&nbsp综合新闻 &nbsp工大校庆&nbsp媒体工大&nbsp工大人物&nbsp教学科研&nbsp招生就业&nbsp国际合作&nbsp校园写意&nbsp校园动态<br/>
   &nbsp&nbsp &nbsp&nbsp领导讲话&nbsp工大论坛 &nbsp工大外交&nbsp高教视点&nbsp社会服务&nbsp专题新闻&nbsp图片新闻&nbsp视频新闻&nbsp工大展览&nbsp信息预告</a>
<table id="xw" border=1 cellspacing="1" width=962 style="position:absolute;left:180px;top:200px;">
<tr style="height:100%;" >
<td bgcolor="FFFFE0" style="border-style:none">
{% block content %}
<table>
<tr><td>
<a href="" target="_blank">
<img src="/static/gandonggongda.jpg"/></a><br/>
</td><td>&nbsp&nbsp<span><font color="#778899">工大电视台 TJPU TV</font><br/>&nbsp&nbsp<canvas id="canvas" width="100" height="6" style="background:blue"></canvas><br/>&nbsp&nbsp<img src="/static/tv.jpg"/></span></td></tr>


<tr><td><br/><p><font color="#778899">媒体工大 Media TJPU</font></p><canvas id="canvas" width="100" height="6" style="background:blue"></canvas><ul><li>天津卫视12点报道以“高校毕业季 传递爱心正能量”为题对我校进行了报道</li><li>天津卫视12点报道以“向上向善 积极生活”为题对我校进行了报道 </li><li>《渤海早报》以《京津冀三地工业大学结成协同创新联盟》为题对我校做了报道</li><li>《每日新报》以《天津工大、北京工大、河北工大结成协同创新联盟》为题对我校做了报道</li></ul></td>
</tr>

<tr>
<td>
<br/>
<img src="/static/search.png"/>
</td>
</tr>
<tr><td><br/><br/><br/><font color="#778899">友情链接 Links</font><br/><br/><canvas id="canvas" width="100" height="6" style="background:blue"></canvas></td>
</tr>
<tr bgcolor=#778899><td>
<br/>
<a href="http://www.people.com.cn/" style="text-decoration:none;" target="_blank">人民网</a><a href="http://www.univs.cn/" style="text-decoration:none;" target="_blank">&nbsp中国大学生在线<br/></a>
<a href="http://www.xinhuanet.com/newscenter/index.htm" style="text-decoration:none;" target="_blank">新闻网</a><a href="http://www.moe.edu.cn/publicfiles/business/htmlfiles/moe/s5210/201103/116284.html" style="text-decoration:none;" target="_blank">&nbsp中华人民共和国教育部</a>
</td>
</tr>
</table>
{% end %}
</td>
<td  width="30%" bgcolor="E6E6FA">
            <table width=280 style="position:absolute;top:0px;">
            <tr>
            <td  style="text-align:center;" bgcolor="7FFF00">
        新闻标题
            </td>
            </tr>
            <tr>
            <td>
            <a href="/xw1" target="_blank" style="text-decoration:none;">
             . 天津卫视天津新闻以“京津冀三地工业大学携手成立京津冀协同创新联盟”为题对我校进行了报道 </a>
            </td>
            </tr>
            <tr>
            <td>
            <br/>
            <a href="/xw2" target="_blank" style="text-decoration:none;">
            . 美国工程院院士、俄亥俄州立大学Winston Ho教授学术访问我校</a>
	    </td>
            </tr>
            <tr>
            <td>
            <br/>
            <a href="/xw3" target="_blank" style="text-decoration:none;">
             . 我校退休党委举行党员代表大会</a>
	    </td>
            </tr>
            <tr>
            <td>
            <br/>
            <a href="/xw4" target="_blank" style="text-decoration:none;">
            . 我校举行“长江学者”讲座教授受聘仪式暨学术报告会 </a>
            </td>
            </tr>
            <tr>
	    <td>
            <br/><a href="/xw5" target="_blank" style="text-decoration:none;">
            . 我校学生在2015 SAMPE超轻复合材料桥梁学生竞赛中喜获佳绩
            </a>
	    </td>
            </tr>
            <tr>
	    <td>
            <br/>
            <a href="/xw6" target="_blank" style="text-decoration:none;">
            . 第一届天津市大学生化学竞赛综合技能团队赛在我校举行</a>
	    </td>
            </tr>
            <tr>
            <td>
            <br/>
            <a href="/xw7" target="_blank" style="text-decoration:none;">
            . 杨庆新校长为师生做“电工前沿技术”主题报告
            </a>
            </td>
            </tr>
            <tr>
            <td>
            <br/>
            <a href="/xw8" target="_blank" style="text-decoration:none;">
            . 武汉纺织大学副校长姜明华同志一行到我校交流访问</a>
            </td>
            </tr>
            <tr>
            <td>
            <br/>
            <a href="/xw9" target="_blank" style="text-decoration:none;">
            . 产业用纺织品行业龙头企业-天津工业大学校企对接会在我校召开
            </a>
            </td>
            </tr></table>
</td>

</tr>
</table>
{% block content1 %} 
<div style="position:absolute;left:270px;top:600px;">
<input type="text" value=""/>
</div>
<div id="KinSlideshow" style="visibility:hidden;position:absolute;left:530px;top:600px;">
      <p><font color="#778899">综合新闻 General News</font></p>
        <a href="http://www.qq1.com" target="_blank"><img src="/static/1.jpg" alt="这是标题一" width="300" height="150" /></a>
        <a href="http://www.qq2.com" target="_blank"><img src="/static/2.jpg" alt="这是标题二" width="300" height="150" /></a>
        <a href="http://www.qq3.com" target="_blank"><img src="/static/3.jpg" alt="这是标题三" width="300" height="150" /></a>
        <a href="http://www.qq4.com" target="_blank"><img src="/static/4.jpg" alt="这是标题四" width="300" height="150" /></a>
        <a href="http://www.qq5.com" target="_blank"><img src="/static/5.jpg" alt="这是标题五" width="300" height="150" /></a>
        <a href="http://www.qq6.com" target="_blank"><img src="/static/6.jpg" alt="这是标题六" width="300" height="150" /></a>
    </div>
<script src="/static/jquery-1.4a2.min.js" type="text/javascript"></script>
<script src="/static/jquery.KinSlideshow-1.1.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
  $("#KinSlideshow").KinSlideshow({
      moveStyle:"down",
      intervalTime:8,
      mouseEvent:"mouseover",
      titleFont:{TitleFont_size:14,TitleFont_color:"#FF0000"}
  });
})
</script>
{% end %}
</body>
</html>